@font-face {
    font-family: 'GorditaBold';
    src: url(/fonts/GorditaBold.otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'GorditaBold';
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em;
    border-bottom: 1px solid lightgrey;
    letter-spacing: -0.05em;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.2em;
    color: #484848;
}

.header-item{
    font-size: 1.2em;
    color: #848484;
}

#reset:hover{
    color: #484848;
    cursor: pointer;
}
