@font-face {
    font-family: 'GorditaBold';
    src: url(/fonts/GorditaBold.otf);
}

:root{
    --grid-rows: 1;
    --grid-cols: 1;
    --grid-size: 1;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'GorditaBold';
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em;
    border-bottom: 1px solid lightgrey;
    letter-spacing: -0.05em;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.2em;
    color: #484848;
}

.header-item{
    font-size: 1.2em;
    color: #848484;
}

#reset:hover{
    color: #484848;
    cursor: pointer;
}

.header-input{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    gap: 0.5em;
    color: #848484;
}

#input:hover{
    cursor: pointer;
    color: #484848;
}

#grid-size{
    border: none;
    border-bottom: 2px solid #848484;
    width: 2.5em;
    font-size: 1em;
    font-family: 'GorditaBold';
    text-align: center;
    color: #848484;
}

#grid-size:focus{
    outline: none;
}

#color:hover{
    cursor: pointer;
    color: #484848;
}

#square-color{
	width: 40px;
	height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), var(--grid-size));
    grid-template-columns: repeat(var(--grid-cols), var(--grid-size));
    height: 100vh;
    align-self: center;
}

.grid-item{
    border: 1px solid #ededed;
}